[submodule "backend"]
	path = backend
	url = git@github.com:dalobarahama/expense-tracker-backend.git
[submodule "web"]
	path = web
	url = git@github.com:dalobarahama/expense-tracker-web.git
[submodule "mobile"]
	path = mobile
	url = git@github.com:dalobarahama/expense-tracker-android.git
